#!/usr/bin/env python
# -*- coding: utf-8 -*-

# common config options for home-tech logging
# urls
logging_url = ""
logged_url = ""
# authentication
logging_user = ""
logging_pw = ""


# common config options for home-tech webcam
# ssh host and authentication
ssh_host = ""
ssh_port = ""
ssh_user = ""
ssh_pw = ""
# paramiko logfile
ssh_log = ""

# special config for home-tech webcam
pict_file_local_1 = ""
pict_file_remote_1 = ""
